<!-- navbar -->
<div class="d-flex align-items-center main-heading mx-3">
  <div class="backIcon d-flex align-items-center gap-2 py-2 heading" (click)="settings()">
    <mat-icon>arrow_back</mat-icon>
    <p class="mb-0 fw-semibold">Settings</p>
  </div>
</div>

<!-- image -->
<div class="mt-3">
  <img src="change-password.svg" alt="Change password" class="img-fluid password-img">
</div>

<h3 class="mt-3 text-center text-md-start">Reset your password</h3>
<p class="text-center text-md-start">
  To update your password, enter your current and new passwords below.
</p>

<!-- password fields -->
<div class="d-flex flex-column flex-md-row gap-4 mt-4 mx-3">

  <!-- current password -->
  <form class="flex-fill">
    <mat-form-field class="w-100">
      <mat-label>Current Password</mat-label>

      <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" [formControl]="currentPasswordControl"
        [errorStateMatcher]="matcher" placeholder="Enter current password">

      <!-- 👁 Toggle icon -->
      <button mat-icon-button matSuffix type="button" disableRipple class="eye-toggle-btn"
        (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Toggle password visibility'"
        [attr.aria-pressed]="!hideCurrentPassword">

        <mat-icon>
          {{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>


      @if (currentPasswordControl.hasError('required')) {
      <mat-error>Current password is <strong>required</strong></mat-error>
      }

      @if (currentPasswordControl.hasError('minlength')) {
      <mat-error>Password must be at least 8 characters</mat-error>
      }
    </mat-form-field>
  </form>


  <!-- new password -->
  <form class="flex-fill">
    <mat-form-field class="w-100">
      <mat-label>New Password</mat-label>

      <input [type]="hideNewPassword ? 'password' : 'text'" matInput [formControl]="newPasswordControl"
        [errorStateMatcher]="matcher" placeholder="Enter new password">
      <!-- 👁 Toggle icon -->
      <button mat-icon-button matSuffix type="button" disableRipple class="eye-toggle-btn"
        (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Toggle password visibility'"
        [attr.aria-pressed]="!hideNewPassword">

        <mat-icon>
          {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>

      @if (newPasswordControl.hasError('required')) {
      <mat-error>New password is <strong>required</strong></mat-error>
      }

      @if (newPasswordControl.hasError('minlength')) {
      <mat-error>Password must be at least 8 characters</mat-error>
      }
    </mat-form-field>
  </form>

  <!-- confirm password -->
  <form class="flex-fill">
    <mat-form-field class="w-100">
      <mat-label>Confirm Password</mat-label>

      <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput [formControl]="confirmPasswordControl"
        [errorStateMatcher]="matcher" placeholder="Enter confirm password">

      <!-- 👁 Toggle icon -->
      <button mat-icon-button matSuffix type="button" disableRipple class="eye-toggle-btn"
        (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Toggle password visibility'"
        [attr.aria-pressed]="!hideConfirmPassword">

        <mat-icon>
          {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>

      @if (confirmPasswordControl.hasError('required')) {
      <mat-error>Confirm password is <strong>required</strong></mat-error>
      }

      @if (confirmPasswordControl.hasError('minlength')) {
      <mat-error>Password must be at least 8 characters</mat-error>
      }
    </mat-form-field>
  </form>

</div>

<!-- button -->
<div class="d-flex  justify-content-center justify-content-md-end mt-4 mx-3 ">
  <button class="pssd-btn border-round p-2" (click)="changePassword()">
    Change Password
  </button>
</div>