.example-full-width {
  width: 350px; /* or 400px */
}
.password{
    justify-content: end;
    align-items: end;
}
.password-img {
  max-width: 280px;
}
.pssd-btn{
    background-color: rgba(12, 125, 161, 1);
    color: white;

}
.backIcon{
    cursor: pointer;
}
@media (min-width: 768px) {
  .password-img {
    max-width: 360px;
  }
}
/* Remove border / circle / focus ring ONLY for eye toggle */
.eye-toggle-btn {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

/* Remove hover / focus / active state layer */
.eye-toggle-btn:hover,
.eye-toggle-btn:focus,
.eye-toggle-btn:active {
  background: transparent !important;
  box-shadow: none !important;
}

/* Angular Material MDC state layer */
.eye-toggle-btn .mdc-icon-button__state-layer {
  display: none !important;
}


