.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-box {
    border: 1px dashed #3f51b5;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: #f7f9fc;
}


.doc-icon {
   
    color: #3f51b5;
}

.file-name {
    font-size: 13px;
    text-align: center;
    word-break: break-word;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}
.date-row {
    display: flex;
    gap: 12px;
}

.date-row mat-form-field {
    flex: 1;
}

.file-card {
  width: 120px;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  line-height: 22px;
  padding: 0;
}

.delete-btn:hover {
  background: #e53935;
  color: #ddd;
}

.file-preview {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}
.addButton{
      padding: 10px 16px;
    border-radius: 6px;
    background-color: #0c79a5;
    color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
}