.banner-wrapper {
  background-color: #5A6FA3;
  border-radius: 12px;
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
margin-top: 50px;
  position: relative;   /* ⭐ IMPORTANT */
  min-height: 180px;
  overflow: visible;
}

.banner-content {
  max-width: 55%;
  color: white;
}

.banner-image {
  position: absolute;
  right: 40px;
  bottom: 0;    
}

.banner-image img {
  height: 300px;
  object-fit: contain;
}
.banner-btn{
    color: var(--primary);
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
}