
.profile-wrapper {
    position: relative;
    width: 100px;
    height: 100px;

}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0aa1c0;
}

.edit-icon {
    position: absolute;
    bottom: 4px;
    right: 4px;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.edit-icon mat-icon {
    font-size: 20px;
    color: #0aa1c0;
}
.personal-info{
    justify-content: space-between;
}
.save{
    justify-content: end;
    align-items: end;
}
.save-btn{
    background-color: rgba(70, 94, 151, 1);
    color: white;
}
.backIcon{
    cursor: pointer;
}