.services-row {
    display: flex;
    gap: 5px;
}

.service-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: small;
    color: var(--primary);
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    padding: 10px 16px;

    background: transparent;
    cursor: pointer;
    white-space: nowrap;
}


.active-service {
    background-color: var(--primary);
}

.active-service p {
    color: var(--bg-page);
    font-weight: 600;
}

.active-service img {
    filter: brightness(0) invert(1);
}