.services-row {
    display: flex;
    gap: 5px;
}

.service-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: small;
    color: var(--primary);
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    padding: 10px 16px;

    background: transparent;
    cursor: pointer;
    white-space: nowrap;
}

.service-btn:hover {
    border-color: var(--primary);
    background-color: rgba(0, 0, 0, 0.03);
}