<div class="login-container gap-2 ">
    <div class="left-panel">
        <div class="login-form">

            <div class="logo">
                <img class="logo-img" src="logo/calladoc-logo.png" alt="Logo">
            </div>

            @if (mode === 'S') {

            <div class="main-title text-center">Create a New Account</div>

            <div class="sub-title text-center py-1">
                Sign up to talk to trusted doctors and get medical advice whenever you need it.
            </div>

            <div class="text-center">

                @if (step === 1) {
                <form #userForm="ngForm" (ngSubmit)="nextStep(userForm)">
                    <mat-form-field class="w-75" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" [(ngModel)]="usr.fullname" name="name" #name="ngModel" required>

                        <mat-error *ngIf="name.invalid && name.touched">
                            Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-75" appearance="outline">
                        <mat-label>Phone</mat-label>

                        <span matPrefix class="px-2">+971&nbsp;</span>

                        <input matInput type="tel" [(ngModel)]="usr.phone" name="phone" maxlength="9" #phone="ngModel"
                            required pattern="[0-9]{9}">

                        <mat-error *ngIf="phone.errors?.['required']">
                            Phone is required
                        </mat-error>

                        <mat-error *ngIf="phone.errors?.['pattern']">
                            Enter valid 9 digit number
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-75" appearance="outline">
                        <mat-label>Email</mat-label>

                        <input matInput type="email" [(ngModel)]="usr.email" name="email" #email="ngModel" required
                            email>

                        <mat-error *ngIf="email.invalid && email.touched">
                            Enter valid email
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-75" appearance="outline">
                        <mat-label>Password</mat-label>

                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usr.pwd" name="pwd"
                            #pwd="ngModel" required minlength="6">

                        <mat-error *ngIf="pwd.errors?.['required']">
                            Password required
                        </mat-error>

                        <mat-error *ngIf="pwd.errors?.['minlength']">
                            Minimum 6 characters required
                        </mat-error>
                    </mat-form-field>


                    <button type="submit" class="w-75 mt20 loginBtn">
                        Continue
                    </button>
                </form>

                }

                @if (step === 2) {

                <div>
                    <mat-form-field class="w-75" appearance="outline">
                        <mat-label>Upload Government-Issued ID*</mat-label>

                        <input matInput type="text" [value]="selectedGovFileName" placeholder="Choose file..."
                            readonly />

                        <button mat-icon-button matSuffix type="button" (click)="govFileInput.click()">
                            <mat-icon>upload</mat-icon>
                        </button>
                    </mat-form-field>

                    <input #govFileInput type="file" hidden (change)="onGovFileSelected($event)" />
                </div>


                <mat-form-field class="w-75" appearance="outline">
                    <mat-label>Expiry Date*</mat-label>

                    <input matInput type="date" [(ngModel)]="usr.expiryDate" name="expiryDate" required />

                    <button mat-icon-button matSuffix type="button">
                        <mat-icon>event</mat-icon>
                    </button>
                </mat-form-field>


                <div>
                    <mat-form-field class="w-75" appearance="outline">
                        <mat-label>UAE Pass*</mat-label>

                        <input matInput type="text" [value]="selectedPassFileName" placeholder="Choose file..."
                            readonly />

                        <button mat-icon-button matSuffix type="button" (click)="passFileInput.click()">
                            <mat-icon>upload</mat-icon>
                        </button>
                    </mat-form-field>

                    <input #passFileInput type="file" hidden (change)="onPassFileSelected($event)" />
                </div>



                <button class="w-75 mt20 loginBtn">

                    Sign Up
                </button>

                <div class="w-75 mt20 d-flex  backBtn" (click)="prevStep()">
                    <mat-icon>arrow_back</mat-icon>
                    <span> Back</span>
                </div>

                }

                <div class="mt-3 text-center">
                    <span class="text-secondary">
                        Already have an account?
                    </span>

                    <button class="createBtn" (click)="goToLogin()">

                        Login
                    </button>
                </div>

            </div>

            }

        </div>

    </div>


    <div class="right-panel  mobile-hide border-round ">
        <div class="">

            <div class="right-content text-center">
                <p>Create your account to <br>
                    <span class="calladoc-title">consult doctors</span>
                    anytime
                </p>
            </div>

            <p class="right-subContent">
                Sign up in minutes to access certified
                doctors, book instant consultations, and keep your health records secure in one place.</p>

            <p class="text-center text-white">✓ Secure & confidential consultations ✓ Verified medical professionals ✓
                Available 24/7
            </p>
            <div class="text-center">
                <img class="calladoc-img" src="login-page/doctors.svg" alt="login">
            </div>

        </div>

    </div>



</div>