<div class="login-container gap-2 ">
    <div class="left-panel">
        <div class="login-form">

            <div class="logo">
                <img class="logo-img" src="logo/calladoc-logo.png" alt="Logo">
            </div>



            <!-- LOGIN MODE -->

            @if (mode == "L") {

            <form #loginForm="ngForm" (ngSubmit)="loginclick(loginForm)">
                <div class="main-title text-center">Login</div>
                <div class="sub-title text-center">
                    Welcome back! Please enter your details.
                </div>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Email / Phone</mat-label>
                    <input matInput type="text" name="email" [(ngModel)]="loginData" #email="ngModel"
                        placeholder="Enter email or phone" required />
                    <mat-error *ngIf="email.invalid && email.touched">
                        Email / Phone is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">

                    <mat-label>Password</mat-label>

                    <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password"
                        #pwd="ngModel" [readonly]="otpLogin" [required]="!otpLogin" minlength="6"
                        [disabled]="otpLogin" />

                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [disabled]="otpLogin">
                        <mat-icon>
                            {{ hide ? 'lock' : 'lock_open' }}
                        </mat-icon>
                    </button>
                    <mat-error *ngIf="pwd.invalid && pwd.touched">
                        <span *ngIf="pwd.errors?.['required']">
                            Password is required
                        </span>
                        <span *ngIf="pwd.errors?.['minlength']">
                            Minimum 6 characters
                        </span>
                    </mat-error>
                </mat-form-field>


                <div class="d-flex otpContent">

                    <label class="d-flex align-items-center gap-2">

                        <input type="checkbox" name="otp" [(ngModel)]="otpLogin" class="checkbox" />

                        <span>Use OTP for quick login</span>

                    </label>
                    <a class="forgotPassword mb-0" [class.disabled]="otpLogin" [attr.tabindex]="otpLogin ? -1 : 0"
                        (click)="!otpLogin && onForgotPassword($event)">
                        Forgot Password?
                    </a>
                </div>



                <button class="loginBtn w100 mt20" type="submit" [disabled]="loginForm.invalid && !otpLogin">
                    {{ otpLogin ? 'Continue with OTP' : 'Login' }}
                </button>



                <div class="mt20 text-center">

                    <span class="text-secondary">
                        Don't have an account...?
                    </span>

                    <button class="createBtn" type="button" (click)="goToSignUp()">
                        Create new Account
                    </button>

                </div>

            </form>

            }


            <!-- OTP MODE -->
            @if (mode == "O") {

            <div class="main-title text-center">Verify OTP</div>

            <div class="sub-title1 text-center my-3">
                We sent an OTP to {{msg}}
                <!-- <span class="sub-title-mail"> shareekmuhammed34@gmail.com </span> -->
                <br>
                Enter it below to continue.
            </div>

            <div class="otp-inputs">

                @for (digit of otp; let i = $index; track i) {

                <input #otpInput class="otp-box" type="text" maxlength="1" inputmode="numeric"
                    autocomplete="one-time-code" [(ngModel)]="otp[i]" (input)="moveToNext($event, i)" />

                }

            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap resend-container">
                <span class="text-secondary">
                    Resend available:
                    <span class="forgotPassword">Resend OTP</span>
                </span>

                <span class="timer">00 : 59 Sec</span>
            </div>

            <div class="howToContinue mt-4 ">
                <button class="loginBtn1  mt20" (click)="verifyOtp()">
                    Verify
                </button>
            </div>
            <div class="back-btn text-center d-flex gap-1" (click)="goBacktoLogin()">
                <mat-icon>arrow_back</mat-icon>
                <span>Back to login</span>
            </div>

            }

            @if (mode == "F") {
            <div class="fw-bold text-center">Get password for Trusted name in Medical Opinion</div>
            <div class=" mt-2">
                Please enter your email.
            </div>
            <mat-form-field class="w100 mt-4" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="email">
            </mat-form-field>

            <!-- <div class="d-flex justify-content-center">
                <p class="fw-semibold" style="color: rgba(40, 71, 96, 1);;">OR</p>
            </div>


            <mat-form-field class="w100" appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput type="text" [(ngModel)]="usr.ph">
            </mat-form-field> -->

            <!-- <mat-form-field class="w-75" appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select [(ngModel)]="usr.cntry">
                    @for (c of cntrys; track c) {
                    <mat-option [value]="c.D">{{c.T}}</mat-option>
                    }
                </mat-select>
            </mat-form-field> -->

            <button class="loginBtn w100 mt20" (click)="forgotClick()">Send OTP</button>

            <div class="mt20">
                Already have an account?
                <a class="forgotPassword" (click)="actn(2)">Sign In</a>
            </div>
            }

            <!-- OTP MODE -->
            @if (mode == "OF") {

            <div class="main-title text-center">Verify OTP</div>

            <div class="sub-title1 text-center my-3">
                We sent an OTP to {{msg1}}
                <!-- <span class="sub-title-mail"> shareekmuhammed34@gmail.com </span> -->
                <br>
                Enter it below to continue.
            </div>

            <div class="otp-inputs">

                @for (digit of otp; let i = $index; track i) {

                <input #otpInput class="otp-box" type="text" maxlength="1" inputmode="numeric"
                    autocomplete="one-time-code" [(ngModel)]="otp[i]" (input)="moveToNext($event, i)" />

                }

            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap resend-container">
                <span class="text-secondary">
                    Resend available:
                    <span class="forgotPassword">Resend OTP</span>
                </span>

                <span class="timer">00 : 59 Sec</span>
            </div>

            <div class="howToContinue mt-4 ">
                <button class="loginBtn1  mt20" (click)="verifyOtpForgot()">
                    Verify & continue
                </button>
            </div>
            <div class="back-btn text-center d-flex gap-1" (click)="goBacktoLogin()">
                <mat-icon>arrow_back</mat-icon>
                <span>Back to login</span>
            </div>

            }

            @if (mode == "P") {

            <div class="password-container text-center">

                <div class="main-title text-center">
                    Create New Password
                </div>

                <div class="sub-title text-center">
                    Please set a strong password for your account.
                </div>


                <mat-form-field class="w-75 " appearance="outline">
                    <mat-label>New Password</mat-label>

                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword" name="newPassword"
                        minlength="6" required>

                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">

                        <mat-icon>
                            {{ hide ? 'lock' : 'lock_open' }}
                        </mat-icon>

                    </button>
                </mat-form-field>

                <mat-form-field class="w-75" appearance="outline">
                    <mat-label>Confirm Password</mat-label>

                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" [(ngModel)]="confirmPassword"
                        name="confirmPassword" required>

                    <button mat-icon-button matSuffix type="button"
                        (click)="hideConfirmPassword = !hideConfirmPassword">

                        <mat-icon>
                            {{ hideConfirmPassword ? 'lock' : 'lock_open' }}
                        </mat-icon>

                    </button>
                </mat-form-field>

       
                <button class="loginBtn w-75 mt20" (click)="submitnewpwd()">

                    Submit
                </button>

            </div>

            }




            <!-- properly closes @if -->

            <!-- <div class="otp-inputs">
                @for (r of otp; track r[0]; let i = $index) {
                <mat-form-field>
                    <input #otpInput matInput maxlength="1" [(ngModel)]="otp[i]" (input)="onInput($event, i)"
                        (keydown)="onKeyDown($event, i)">

                </mat-form-field>
                }
            </div>

            <button mat-flat-button class="w100" (click)="submitOtp()">Submit OTP</button>

            <div class="resend-section">
                <span>Didn’t receive code?</span>
                <button class="resend-btn" [disabled]="timer>0" (click)="resendOtp()">
                    Resend {{ timer > 0 ? "(" + timer + "s)" : "" }}
                </button>
            </div> -->




            <!-- SIGNUP MODE -->
            <!-- @if (mode == "S") {
            <h6>Create a New Account</h6>

            <mat-form-field class="w100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="usr.fullname">
            </mat-form-field>


            <mat-form-field class="w100" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput type="date" [(ngModel)]="usr.dob">
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="usr.gender">
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                    <mat-option value="O">Other</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field class="w100" appearance="outline">
                <mat-label>Phone</mat-label>
                <span class="country-code" matPrefix>+968&nbsp;</span>
                <input matInput type="text" [(ngModel)]="usr.ph" placeholder="XXXXXXXX" maxlength="8">
            </mat-form-field>


            <mat-form-field class="w100" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="usr.pwd">
            </mat-form-field>

            <button class="w100 mt20" mat-flat-button color="primary" (click)="signupclick()">Signup</button>

            <div class="mt20">
                Already have an account?
                <button mat-stroked-button (click)="actn(2)">Sign In</button>
            </div>
            } -->

        </div>
    </div>


    <div class="right-panel  mobile-hide border-round ">
        <div class="">

            <div class="right-content text-center">
                <p>Welcome Back! <br>
                    Connect instantly with your doctor on
                    <span class="calladoc-title">Call a Doc</span>
                </p>
            </div>

            <p class="right-subContent ">
                Get trusted medical advice anytime, anywhere. Consult certified doctors through secure video or voice
                calls and manage your health without hospital visits.
            </p>
            <div class="text-center">
                <img class="calladoc-img" src="login-page/calladoc-img.svg" alt="login">
            </div>

        </div>

    </div>



</div>