.form-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.severity-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.allergyBtn {
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #0c79a5;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}