.email-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h3 {
    margin: 0;
}

.close-btn {
    color: black;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding-bottom: 6px;
    transition: background-color 0.3s;
}

.popup-body {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.full-width {
    width: 100%;
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

}

.actions button {
    min-width: 100px;
}