.custom-dialog-padding .mat-dialog-container {
  padding: 40px !important; /* Increase as needed */
}
.addEmergencyBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px;
  border-radius: 6px;
  background-color: #0c79a5;
  color: #ffffff;
  border: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}

.addEmergencyBtn mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}