/* nutrition section */

/* Card Container */
.nutrition-card {
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  transition: 0.3s ease;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nutrition-card:hover {
  /* transform: translateY(-6px); */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}
.card-img-top{
  position:relative;
}
.package-title{
  position: absolute;
  right: 0px;
  color: white;
  border-bottom-left-radius: 15px;
  background: linear-gradient(rgba(52, 112, 255, 1),rgba(26, 90, 242, 1));
}
/* Image */
.nutrition-card img {
  height: 160px;
  object-fit: cover;
}

/* Card Body */
.card-body {
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Who can avail */
.card-body p {
  font-size: 14px;
  color: #666;
}

/* Features List */
.card-body ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-body ul li {
  font-size: 13px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Price Boxes */
.price-box {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: center;
  background-color: #f9f9f9;
  transition: 0.2s;
}

.price-box:hover {
  border-color: rgba(70, 94, 151, 1);
  background-color: #eef1ff;
}

/* Button */
button.btn-primary {
  border-radius: 10px;
  margin-top: 10px;
  color: rgba(70, 94, 151, 1);
  background-color: #eef1ff;
  border:2px solid rgba(70, 94, 151, 1)
}

button.btn-primary:hover {
  background-color: rgba(70, 94, 151, 1);
  color: white;
}
.feature-title{
    font-size: small;
}
/* Pagination */
.pagination-controls button {
  border-radius: 8px;
  padding: 6px 16px;
}
.price-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 12px;
  margin-top: 10px;
}
.currency-btn{
    font-size: x-small;  
}