@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

  @include mat.dialog-overrides((container-color: white,
      content-padding:0px,
      headline-padding:0px,
      with-actions-content-padding:1px,
      
      ));


  @include mat.tabs-overrides((
      active-indicator-height: 3px,
      ));
      

  @include mat.checkbox-overrides((label-text-size:12px,
      state-layer-size:25px,
      label-text-line-height:3,
    ));

  @include mat.form-field-overrides((filled-active-indicator-color: rgb(44, 44, 46),
      filled-container-color: white,
      filled-with-label-container-padding-bottom:5px,
    ));

  @include mat.select-overrides((panel-background-color: white,
    ));

  @include mat.select-overrides((panel-background-color: white,
    ));

  @include mat.expansion-overrides((container-background-color: white,
      header-hover-state-layer-color:rgb(193, 221, 248),
    ));

  @include mat.table-overrides((background-color: rgb(255, 255, 255),
      header-headline-color: rgb(7, 0, 0),
      row-item-container-height:34px,
      row-item-label-text-size:12px,
      row-item-label-text-color:rgb(90, 90, 90),
      header-container-height:30px,
      header-headline-size:11px,
      row-item-outline-color:rgb(188, 190, 202),
      footer-container-height:50px,
    ));

  @include mat.paginator-overrides((container-text-color: rgb(10, 9, 7),
      container-background-color: rgb(249, 250, 250),
      container-text-size:12px,
      container-text-weight:100,
      form-field-container-height:50,
      form-field-container-vertical-padding:1px,
    ));


  @include mat.badge-overrides((background-color: green,
      disabled-state-background-color: white,
    ));

}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  background-color: rgba(245, 244, 244, 0.938);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}